@model piti2013.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Usuario</legend>

        @Html.HiddenFor(model => model.usuarioID)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apellidopaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellidopaterno)
            @Html.ValidationMessageFor(model => model.apellidopaterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.apellidomaterno)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellidomaterno)
            @Html.ValidationMessageFor(model => model.apellidomaterno)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.calle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.calle)
            @Html.ValidationMessageFor(model => model.calle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numero)
            @Html.ValidationMessageFor(model => model.numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigopostal)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigopostal)
            @Html.ValidationMessageFor(model => model.codigopostal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cuenta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cuenta)
            @Html.ValidationMessageFor(model => model.cuenta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.contrasena)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.contrasena)
            @Html.ValidationMessageFor(model => model.contrasena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.correo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.correo)
            @Html.ValidationMessageFor(model => model.correo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechaagregado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechaagregado)
            @Html.ValidationMessageFor(model => model.fechaagregado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fechamodificado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fechamodificado)
            @Html.ValidationMessageFor(model => model.fechamodificado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipousuarioID, "TipoUsuario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("tipousuarioID", String.Empty)
            @Html.ValidationMessageFor(model => model.tipousuarioID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estatusID, "Estatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("estatusID", String.Empty)
            @Html.ValidationMessageFor(model => model.estatusID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
